# House Loan Data Analysis

**Problem Statement:**
For a safe and secure lending experience, it's important to analyze the past data. In this project, you have to build a deep learning model to predict the chance of default for future loans using the historical data. As you will see, this dataset is highly imbalanced and includes a lot of features that make this problem more challenging.

**Objective:** Create a model that predicts whether or not an applicant will be able to repay a loan using the historical data

**Domain:** Finance

**Analysis to be done:** Perform data preprocessing and build a deep learning prediction model

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import zscore
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout
from tabulate import tabulate

## Data Analysis

This section analyzis the data available. First step is to analuze all 122 columns for:
1. Categorization: numeric and categorical
2. Columns with null values: 
3. Imputation strategies

**Read Data:**

In [2]:
data = pd.read_csv("./data/project/loan_data.csv")
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
data.shape

(307511, 122)

In [4]:
def get_numeric_columns(data):
    return data.select_dtypes(include=['number']).columns

def get_categorical_columns(data):
    return data.select_dtypes(include=['object']).columns

numeric_columns = get_numeric_columns(data)
categorical_columns = get_categorical_columns(data)

print(f"Numeric columns: {list(numeric_columns)}")
print(f"Numeric columns: {len(numeric_columns)}")

Numeric columns: ['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
Numeric columns: 106

In [5]:
print(f"Categorical columns: {list(categorical_columns)}")
print(f"Categorical columns: {len(categorical_columns)}")

Categorical columns: ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
Categorical columns: 16

In [6]:
descriptions = pd.read_csv("./data/project/load_data_dictionary.csv")
print(len(descriptions))
variable_descriptions = {}
for index, row in descriptions.iterrows():
    variable_descriptions[row['Variable Name']] = row['Description']

122

In [7]:
# Missing Values
null_data = data.isnull().sum()
null_data_df = pd.DataFrame(null_data, columns=['null_count'])
null_data_df['null_percentage'] = null_data_df['null_count'] * 100 / len(data)
# Add descriptions to null_data_df using map, the index name is key value in variable_descriptions
null_data_df['description'] = null_data_df.index.map(variable_descriptions)

In [8]:
print(tabulate(null_data_df, headers='keys', tablefmt='plain'))

                                null_count    null_percentage  description
SK_ID_CURR                               0        0            Unique identifier for each client.
TARGET                                   0        0            Whether the loan was repaid (1 for yes, 0 for no).
NAME_CONTRACT_TYPE                       0        0            Type of loan contract (e.g., Cash loans, Revolving loans).
CODE_GENDER                              0        0            Gender of the applicant.
FLAG_OWN_CAR                             0        0            Whether the applicant owns a car (Yes/No).
FLAG_OWN_REALTY                          0        0            Whether the applicant owns a house or flat (Yes/No).
CNT_CHILDREN                             0        0            Number of children the applicant has.
AMT_INCOME_TOTAL                         0        0            Total income of the applicant.
AMT_CREDIT                               0        0            Total credit amount of the loan.
AMT_ANNUITY                             12        0.0039023    Loan annuity (monthly payment).
AMT_GOODS_PRICE                        278        0.0904033    Price of the goods for which the loan is taken.
NAME_TYPE_SUITE                       1292        0.420148     Who was accompanying the client when applying for the loan.
NAME_INCOME_TYPE                         0        0            Income category of the applicant (e.g., Working, Pensioner).
NAME_EDUCATION_TYPE                      0        0            Education level of the applicant.
NAME_FAMILY_STATUS                       0        0            Family status of the applicant (e.g., Married, Single).
NAME_HOUSING_TYPE                        0        0            Housing situation of the applicant (e.g., Rented apartment, Own house).
REGION_POPULATION_RELATIVE               0        0            Normalized population of the region where the client lives.
DAYS_BIRTH                               0        0            Age of the client in days (from birth to the application date).
DAYS_EMPLOYED                            0        0            How long the applicant has been employed (in days).
DAYS_REGISTRATION                        0        0            How long ago the client registered at the current address (in days).
DAYS_ID_PUBLISH                          0        0            How long ago the ID was changed (in days).
OWN_CAR_AGE                         202929       65.9908       Age of the client's car.
FLAG_MOBIL                               0        0            Whether the applicant provided a mobile phone number (1 for yes, 0 for no).
FLAG_EMP_PHONE                           0        0            Whether the applicant provided their work phone number.
FLAG_WORK_PHONE                          0        0            Whether the applicant provided their home phone number.
FLAG_CONT_MOBILE                         0        0            Whether the mobile phone number is reachable.
FLAG_PHONE                               0        0            Whether the applicant provided a phone number.
FLAG_EMAIL                               0        0            Whether the applicant provided an email address.
OCCUPATION_TYPE                      96391       31.3455       Occupation type of the applicant.
CNT_FAM_MEMBERS                          2        0.000650383  Number of family members of the applicant.
REGION_RATING_CLIENT                     0        0            Rating of the region where the client lives.
REGION_RATING_CLIENT_W_CITY              0        0            Rating of the region and city where the client lives.
WEEKDAY_APPR_PROCESS_START               0        0            Day of the week when the application was processed.
HOUR_APPR_PROCESS_START                  0        0            Hour of the day when the application was processed.
REG_REGION_NOT_LIVE_REGION               0        0            Whether the client's region of residence differs from the region of registration.
REG_REGION_NOT_WORK_REGION               0        0            Whether the client's region of residence differs from the region of work.
LIVE_REGION_NOT_WORK_REGION              0        0            Whether the client's region of work differs from the region of registration.
REG_CITY_NOT_LIVE_CITY                   0        0            Whether the client's city of residence differs from the city of registration.
REG_CITY_NOT_WORK_CITY                   0        0            Whether the client's city of residence differs from the city of work.
LIVE_CITY_NOT_WORK_CITY                  0        0            Whether the client's city of work differs from the city of registration.
ORGANIZATION_TYPE                        0        0            Type of organization where the client works.
EXT_SOURCE_1                        173378       56.3811       Normalized score from external data sources (used to assess credit risk).
EXT_SOURCE_2                           660        0.214626     Normalized score from external data sources (used to assess credit risk).
EXT_SOURCE_3                         60965       19.8253       Normalized score from external data sources (used to assess credit risk).
APARTMENTS_AVG                      156061       50.7497       Normalized average value of the apartment.
BASEMENTAREA_AVG                    179943       58.516        Normalized average value of the basement area.
YEARS_BEGINEXPLUATATION_AVG         150007       48.781        Normalized average value of the years since the building's construction.
YEARS_BUILD_AVG                     204488       66.4978       Normalized average value of the building's age.
COMMONAREA_AVG                      214865       69.8723       Normalized average value of common area.
ELEVATORS_AVG                       163891       53.296        Normalized average value of elevators in the building.
ENTRANCES_AVG                       154828       50.3488       Normalized average value of entrances to the building.
FLOORSMAX_AVG                       153020       49.7608       Normalized average value of the maximum number of floors in the building.
FLOORSMIN_AVG                       208642       67.8486       Normalized average value of the minimum number of floors in the building.
LANDAREA_AVG                        182590       59.3767       Normalized average value of the land area of the property.
LIVINGAPARTMENTS_AVG                210199       68.355        Normalized average value of the living apartments.
LIVINGAREA_AVG                      154350       50.1933       Normalized average value of the living area.
NONLIVINGAPARTMENTS_AVG             213514       69.433        Normalized average value of non-living apartments.
NONLIVINGAREA_AVG                   169682       55.1792       Normalized average value of non-living area.
APARTMENTS_MODE                     156061       50.7497       Mode value of the apartment.
BASEMENTAREA_MODE                   179943       58.516        Mode value of the basement area.
YEARS_BEGINEXPLUATATION_MODE        150007       48.781        Mode value of the years since the building's construction.
YEARS_BUILD_MODE                    204488       66.4978       Mode value of the building's age.
COMMONAREA_MODE                     214865       69.8723       Mode value of common area.
ELEVATORS_MODE                      163891       53.296        Mode value of elevators in the building.
ENTRANCES_MODE                      154828       50.3488       Mode value of entrances to the building.
FLOORSMAX_MODE                      153020       49.7608       Mode value of the maximum number of floors in the building.
FLOORSMIN_MODE                      208642       67.8486       Mode value of the minimum number of floors in the building.
LANDAREA_MODE                       182590       59.3767       Mode value of the land area of the property.
LIVINGAPARTMENTS_MODE               210199       68.355        Mode value of the living apartments.
LIVINGAREA_MODE                     154350       50.1933       Mode value of the living area.
NONLIVINGAPARTMENTS_MODE            213514       69.433        Mode value of non-living apartments.
NONLIVINGAREA_MODE                  169682       55.1792       Mode value of non-living area.
APARTMENTS_MEDI                     156061       50.7497       Median value of the apartment.
BASEMENTAREA_MEDI                   179943       58.516        Median value of the basement area.
YEARS_BEGINEXPLUATATION_MEDI        150007       48.781        Median value of the years since the building's construction.
YEARS_BUILD_MEDI                    204488       66.4978       Median value of the building's age.
COMMONAREA_MEDI                     214865       69.8723       Median value of common area.
ELEVATORS_MEDI                      163891       53.296        Median value of elevators in the building.
ENTRANCES_MEDI                      154828       50.3488       Median value of entrances to the building.
FLOORSMAX_MEDI                      153020       49.7608       Median value of the maximum number of floors in the building.
FLOORSMIN_MEDI                      208642       67.8486       Median value of the minimum number of floors in the building.
LANDAREA_MEDI                       182590       59.3767       Median value of the land area of the property.
LIVINGAPARTMENTS_MEDI               210199       68.355        Median value of the living apartments.
LIVINGAREA_MEDI                     154350       50.1933       Median value of the living area.
NONLIVINGAPARTMENTS_MEDI            213514       69.433        Median value of non-living apartments.
NONLIVINGAREA_MEDI                  169682       55.1792       Median value of non-living area.
FONDKAPREMONT_MODE                  210295       68.3862       Mode of the apartment fund.
HOUSETYPE_MODE                      154297       50.1761       Type of the house (e.g., Block of flats, Specific housing).
TOTALAREA_MODE                      148431       48.2685       Mode value of the total area of the property.
WALLSMATERIAL_MODE                  156341       50.8408       Material used for the walls of the building.
EMERGENCYSTATE_MODE                 145755       47.3983       Emergency state of the house (Yes/No).
OBS_30_CNT_SOCIAL_CIRCLE              1021        0.332021     Number of observations of social surroundings within 30 days.
DEF_30_CNT_SOCIAL_CIRCLE              1021        0.332021     Number of social circle defaults within 30 days.
OBS_60_CNT_SOCIAL_CIRCLE              1021        0.332021     Number of observations of social surroundings within 60 days.
DEF_60_CNT_SOCIAL_CIRCLE              1021        0.332021     Number of social circle defaults within 60 days.
DAYS_LAST_PHONE_CHANGE                   1        0.000325192  Days since the last phone number change.
FLAG_DOCUMENT_2                          0        0            Did the client provide document 2 (Yes/No).
FLAG_DOCUMENT_3                          0        0            Did the client provide document 3 (Yes/No).
FLAG_DOCUMENT_4                          0        0            Did the client provide document 4 (Yes/No).
FLAG_DOCUMENT_5                          0        0            Did the client provide document 5 (Yes/No).
FLAG_DOCUMENT_6                          0        0            Did the client provide document 6 (Yes/No).
FLAG_DOCUMENT_7                          0        0            Did the client provide document 7 (Yes/No).
FLAG_DOCUMENT_8                          0        0            Did the client provide document 8 (Yes/No).
FLAG_DOCUMENT_9                          0        0            Did the client provide document 9 (Yes/No).
FLAG_DOCUMENT_10                         0        0            Did the client provide document 10 (Yes/No).
FLAG_DOCUMENT_11                         0        0            Did the client provide document 11 (Yes/No).
FLAG_DOCUMENT_12                         0        0            Did the client provide document 12 (Yes/No).
FLAG_DOCUMENT_13                         0        0            Did the client provide document 13 (Yes/No).
FLAG_DOCUMENT_14                         0        0            Did the client provide document 14 (Yes/No).
FLAG_DOCUMENT_15                         0        0            Did the client provide document 15 (Yes/No).
FLAG_DOCUMENT_16                         0        0            Did the client provide document 16 (Yes/No).
FLAG_DOCUMENT_17                         0        0            Did the client provide document 17 (Yes/No).
FLAG_DOCUMENT_18                         0        0            Did the client provide document 18 (Yes/No).
FLAG_DOCUMENT_19                         0        0            Did the client provide document 19 (Yes/No).
FLAG_DOCUMENT_20                         0        0            Did the client provide document 20 (Yes/No).
FLAG_DOCUMENT_21                         0        0            Did the client provide document 21 (Yes/No).
AMT_REQ_CREDIT_BUREAU_HOUR           41519       13.5016       Number of inquiries to the Credit Bureau in the last hour.
AMT_REQ_CREDIT_BUREAU_DAY            41519       13.5016       Number of inquiries to the Credit Bureau in the last day.
AMT_REQ_CREDIT_BUREAU_WEEK           41519       13.5016       Number of inquiries to the Credit Bureau in the last week.
AMT_REQ_CREDIT_BUREAU_MON            41519       13.5016       Number of inquiries to the Credit Bureau in the last month.
AMT_REQ_CREDIT_BUREAU_QRT            41519       13.5016       Number of inquiries to the Credit Bureau in the last quarter.
AMT_REQ_CREDIT_BUREAU_YEAR           41519       13.5016       Number of inquiries to the Credit Bureau in the last year.